[submodule "kaggle-mnist"]
	path = kaggle-mnist
	url = git@github.com:norman-thomas/kaggle-mnist.git
	branch = master
[submodule "kaggle-planet-amazon"]
	path = kaggle-planet-amazon
	url = git@github.com:norman-thomas/kaggle-planet-amazon.git
	branch = master
[submodule "kaggle-passenger-screening-tsa"]
	path = kaggle-passenger-screening-tsa
	url = git@github.com:norman-thomas/kaggle-passenger-screening-tsa.git
[submodule "kaggle-statoil-iceberg"]
	path = kaggle-statoil-iceberg
	url = ../kaggle-statoil-iceberg.git
